body{
    background-color: #f4f4f4;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

#box{
    width: 80%;
    margin: auto;
    overflow: hidden;
    border-radius: 10%;
   

}

.main-header{
    background-color: azure;
    color: blue;
}

#navbar{
    background-color: azure;
    color: blue;
}

#navbar ul{
    padding: 0;
    list-style: none;    
}

#navbar li{
    display: inline;

}

#navbar a{
    color: blue;
    text-decoration: none;
    font-size: 18px;
    padding-right: 18px;
}

#main-section{
    background-color: rgb(211, 203, 203);
}

.container{
    display: inline;
}

#box1{
    background-color: blue;
    color: #f4f4f4;
    width: 40%;
    height: 40%;
}

#box2{
    background-color: blue;
    color: #f4f4f4;
    width: 80%;
    height: 40%;
}

#box3{
    background-color: white;
    color: blue;
    width: 40%;
    height: 40%;
    margin: auto;
}

#cup{
    margin: auto;
    align-self: center;
    
}

.water-cup{
    margin:auto;
    cursor: pointer;
}

.water-cup img{
    cursor: pointer;
}

.water-cup img :hover{
    background: #990033;
    border-radius: 3px;
}

#box3 .form-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #box3 .form-button:hover {
    background-color: #0056b3;
  }